
:host .mat-form-field{
    width: 100%;
}

.todo-container{
  justify-content: center;
  height: 98vh;
  background-color: #4A4D78;
}

.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: rgb(246, 235, 222);
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: rgb(246, 235, 222);
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .box{
    display: grid;
    grid-auto-flow: coloumn;
  }


  .head-title{
    margin:0;
    padding: 0;
    background-color: antiquewhite;
    border-radius: 4px;
    color: #4E7796;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    font-family: 'yeseva one', sans-serif;
    span{
      font-weight: normal;
    }
  }

  .first-img{
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
